<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nothing.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSnothing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D0FA66D279BB2A300ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0FA685279BB2A400ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0FA68F279BB2A400ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0FA6D7279BB58100ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0FA6EB279BB58200ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0FA6F5279BB58200ED6101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA29A282766475D006AE014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
